<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script data-require="angular.js@1.3.10" data-semver="1.3.10" src="https://code.angularjs.org/1.3.10/angular.js"></script>
    <script type="text/javascript" src="script.js"></script>
    <title>ngMadLibs Challenge</title>
  </head>

  <body ng-app="myApp" ng-controller="myCtrl">
      <div id="content">
          <div id="header">
            <div class="logoSection">
              <img src="mad-lib-happy-face.png"/>
            </div>
            <div class="titleSection">
              <img src="ng-mad-libs-logo.png"/>
              <h1>Automate This!</h1>
            </div>
          </div>
          <div id="words">

            <h2>Provide the following words:</h2>
            
            <form name="form" novalidate  class="css-form">

        
            
            <div class="formSection">
                <div class="gender">
                <label><input type="radio" ng-model="formData.gender" id="Male" value="Male" ng-click="genderAdjust();">Male</label>
                <label><input type="radio" ng-model="formData.gender" value="Female" ng-click="genderAdjust();">Female</label>
                </div>
                <div class="i">
                  <input type="text" ng-model="formData.name" name="name" placeholder="Name" required><img ng-src="checkmark.png" alt="OK" ng-show="form.name.$valid">
                </div>
                
                <div class="i">
                  <input type="text" ng-model="formData.tediousTask" name="tediousTask" placeholder="Tedious Task" required ><img ng-src="checkmark.png" alt="OK" ng-show="form.tediousTask.$valid">
                </div>
                
                <div class="i">
                  <input type="text" ng-model="formData.dirtyTask" name="dirtyTask" placeholder="Dirty Task" required ><img ng-src="checkmark.png" alt="OK" ng-show="form.dirtyTask.$valid">
                </div>
                
                <div class="i">
                  <input type="text" ng-model="formData.celebrity" name="celebrity"  placeholder="Celebrity" required ><img ng-src="checkmark.png" alt="OK" ng-show="form.celebrity.$valid">
                </div>


                <div class="i">
                  <input type="text" ng-model="formData.uselessSkill" name="uselessSkill"  placeholder="Useless Skill" required ><img ng-src="checkmark.png" alt="OK" ng-show="form.uselessSkill.$valid">
                </div>

                <div class="i">
                  <input type="text" ng-model="formData.obnoxiousCelebrity" name="obnoxiousCelebrity"  placeholder="Obnoxious Celebrity" required ><img ng-src="checkmark.png" alt="OK" ng-show="form.obnoxiousCelebrity.$valid">
                </div>

                <div class="i">
                  <input type="text" ng-model="formData.adjective" name="adjective"  placeholder="Adjective" required ><img ng-src="checkmark.png" alt="OK" ng-show="form.adjective.$valid">
                </div>

                <div class="i">
                  <input type="text" ng-model="formData.hugeNumber" name="hugeNumber"  placeholder="Huge Number" required ><img ng-src="checkmark.png" alt="OK" ng-show="form.hugeNumber.$valid">
                </div>

                <div class="i">
                  <input type="text" ng-model="formData.favoriteSong" name="favoriteSong"  placeholder="Favorite Song" required ><img ng-src="checkmark.png" alt="OK" ng-show="form.favoriteSong.$valid">
                </div>

                            
            </div>
            <div class="submitSection" ng-show="form.$valid">
              <button type="submit" ng-click="submit();">We're ready to play! Click here to submit your words</button>
                        
            </div>

            
            </form>
          </div>
          <div id="letter clearfix" ng-show="form.$submitted && form.$valid">
            <p>{{formData.name}} was a {{formData.jobTitle}} who loved technology. Although she loved parts of {{formData.hisher}} job, she absolutely hated  {{formData.tediousTask}} and {{formData.dirtyTask}}. So, {{formData.name}} met with {{formData.hisher}} life mentor {{formData.celebrity}} who told {{formData.hisher}} to learn how to {{formData.uselessSkill}} with Thinkful. Thinkful didn't offer a course on {{formData.uselessSkill}} so she studied programming instead. </p>
            <p>What a great decision! With {{formData.hisher}} new skills, {{formData.name}} built a(n) {{formData.adjective}} robot named {{formData.obnoxiousCelebrity}} that not only loved {{formData.dirtyTask}} but did it {{formData.hugeNumber}} faster. I was messing around with form validation errors but there's little point in this case as I'm not validating the language value/accuracy of the form data so I thought only displaying the submit value on $valid would suffice. I spent way too long trying to "not" use tables to do the layout and initially set the inputs into 3 columns. Best practice ideas for that would be nice please. In the end it's simply one flexible div section and singing {{formData.favoriteSong}}!</p>

          </div>
          <div>
            <h2>Mentor Comments:</h2>
            <p>A few comments about the Lesson 3 challenge. As I didn't really have anything in ng-init before this controller version doesn't have much in it. Why doesn't the formdata below show up? It does if I do formData.gender. It was working before. It stopped working when I added $scope.formData=[]; to the controller.</p>
            <p>How would you best center align the Male and Female labels with the radio button? </p>

            {{formData}}
          </div>



      </div>     

  </body>

</html>
